@import './base.css';

#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.widgets {
  display: flex;
  justify-content: center;
}

.widget-text {
  margin-left: 20px;
}

p {
  margin-bottom: 0.5rem;
}

@media (max-width: 900px) {
  #app {
    padding: 1rem
  }

  .widgets {
    display: block;
  }

  .widget-image {
    display: flex;
    justify-content: center;
  } 

  .widget-text {
    margin: 20px 0 0 0;
  }
}
